[submodule "juanbc/themes/ananke"]
	path = juanbc/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke

[submodule "themes/red-rose"]
	path = themes/red-rose
	url = https://github.com/httpsecure/hugo-theme-red-rose.git
