body {
  background: #c9c9c9c9;
}
.nav-link {
  color: #ffffff;
}
.nav-link:hover {
  color: #ffd000;
}
.nav-link:active {
  color: #ffd000;
}

form {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

.main-section {
  padding: 1em;
}

@import "inputs.css";
@import "article.css";
